<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://freepikpsd.com/wp-content/uploads/2020/02/coronavirus_PNG-Images-Clipart.png" type="image/png" sizes="16x16">
        <title>Wuhan Coronavirus | LIVE</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Vollkorn:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{style}}">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4 text-center">No record found!</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="pb-1 text-center" id="cases"></h4>
                    <canvas id="caseChart" height="200"></canvas>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="pb-1 text-center" id="deaths"></h4>
                    <canvas id="deathChart" height="200"></canvas>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="pb-1 text-center" id="recovery"></h4>
                    <canvas id="recoveryChart" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h5 class="text-center" id="caption"></h5>
            <table class="table table-bordered table-sm">
                <thead class="thead-light text-center"></thead>
                <tbody class="text-center"></tbody>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="{{script}}"></script>
    </body>
</html>