<div class="jumbotron">
    <h1 class="display-4 text-center"><img src="{{loading}}" alt="loading"></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="pb-1 text-center" id="cases"></h4>
            <canvas id="caseChart" height="200"></canvas>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="pb-1 text-center" id="deaths"></h4>
            <canvas id="deathChart" height="200"></canvas>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="pb-1 text-center" id="recovery"></h4>
            <canvas id="recoveryChart" height="200"></canvas>
        </div>
    </div>
</div>
<div class="mt-5" id="table-width">
    <h5 class="text-center" id="caption"></h5>
    <table class="table table-bordered table-sm">
        <thead class="thead-light text-center"></thead>
        <tbody class="text-center"></tbody>
    </table>
</div>